.joinnow
{
    background-color: #eff6ff;
    padding: 200px 100px;
}
.login
{
    background-color: #3ec1d54d;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{

    .joinnow
{
    padding: 140px 30px;
}
}
