

<div class="container ">
   
            <!-- <mat-spinner *ngIf="product.length === 0"> </mat-spinner> -->
          
    
                
                <!-- <mat-card *ngFor="let p of product">
    
                    <button (click)="gotoid(p.portFolioId)" mat-button color="primary" id="btn-id" > {{p.portFolioId}}</button>
                </mat-card> -->
                <div class="mb-3">
                    <app-navbar ></app-navbar>
                </div>
              
                
                
                <app-sell></app-sell>
                <app-mutualfund></app-mutualfund>
                
</div>

